{% set game = achievement.game %}
<a href="{{ path('achievement_show', {'id': achievement.id}) }}" class="cleanlink">
  <div class="card bg-image mb-3" style="background-image: url('{{ game_path ~ '/' ~ game.getIconImage() }}')">
    <div class="bg-layer bg-layer-hover">
      <div class="row no-gutters p-0 pb-2">
        <div class="col-auto">
          <img class="img-fluid" src="{{ badge_path ~ '/' ~ achievement.getBadgeImage() }}" width="100" alt="{{ achievement.titlePoints }}"/>
        </div>
        <div class="col text-right">
          <img class="img-fluid" src="{{ game_path ~ '/' ~ game.getIconImage() }}" width="80" alt="{{ game.title }}"/>
          <p class="card-game-title text-primary font-weight-bold m-0">{{ game.title }}</p>
        </div>
      </div>
      <div>
        <h6 class="card-title font-weight-bold px-3">{{ achievement.titlePoints }}</h6>
        <p class="card-text px-3 pb-2">{{ achievement.description }}</p>
      </div>
    </div>
  </div>
</a>